<p-toast></p-toast>
<app-navbar></app-navbar>
<div style="text-align: right"></div>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
        <B>Recuperar Contraseña</B>
        <i class="pi pi-user" style="font-size: 1rem; margin-left: 10px"></i>
        <p-progressSpinner
          *ngIf="mostrar"
          [style]="{ width: '20', height: '20px' }"
          styleClass="custom-spinner"
          strokeWidth="8"
          fill="var(--surface-ground)"
          animationDuration=".5s"
        ></p-progressSpinner>
        </div>

        <div class="card-body" style="margin: 20px">
            <form [formGroup]="form">
                <span class="p-float-label" style="margin: 20px">
                <input
                    id="float-input"
                    type="text"
                    formControlName="email"
                    pInputText
                />
                <label for="float-input">Correo</label>
                </span>

                <button
                [disabled]="form.invalid"
                (click)="recuperarContrasenia()"
                pButton
                pRipple
                type="button"
                label="Recuperar Contraseña"
                class="p-button-raised p-button-success"
                style="margin-bottom: 10px"
                ></button>
                <br />
                <br/>
            </form>
        </div>
        <div></div>
    </div>
</div>
<div class="container2">
  <button
    type="button"
    pButton
    pRipple
    label="Preguntas"
    class="p-button-danger mb-2"
  >
    <i class="pi pi-user-edit" style="margin-right: 5px"></i>
  </button>
</div>
